<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sitename</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
        <!--<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />-->
        <!-- Fonts -->
        <!--<link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
	
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Sitename </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">   
                        {% if not user.is_authenticated %}                  
                            <li><a href="{% url 'accounts:login' %}/">Login</a></li>
                            <li><a href="{% url 'accounts:register' %}">Register</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
		<div class="container">


    <div class="col-md-10 col-md-offset-1">
	
	{% block body_block %}{% endblock %}
	
	</div>
</div>	
</div>
	<!-- Load javascript libraries -->
<!--        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>
-->
        <div class="container">
			<h5>The footer section</h5>
			<div class='nav'>
				<nav class="navbar navbar-default">
					<ul class="list-unstyled navbar-nav">
                        {% if user.is_authenticated == False and template_name != 'accounts/login.html' %}
						<li><a href="/accounts/login/">Login</a></li>
                        {% endif %}
					</ul>
				</nav>
			</div>
		</div>
		
    </body>
</html>
