{% extends 'base.html' %}

{% load bootstrap %}

{% block body_block %}
    <h1>Register to Sitename!</h1>

    {% if registered %}
        <strong> Thank you for registering!</strong>
        <a href="/accounts/">Return to the homepage.</a><br />
    {% else %}
        {{user_form.errors}}
        <form id="user_form" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <div class="input-group input-group-md">
                <span class="input-group-addon">Username</span><input type="text"class="form-control" placeholder="Username" aria-describedby="basic-addon2" name="username" value="" size="50" />
            </div>
            <br>
            <div class="input-group input-group-md">
                <span class="input-group-addon">Password</span><input class="form-control" placeholder="Password" aria-describedby="basic-addon2" type="password" name="password" value="" size="50" />
            </div>
            <br>
            <div class="input-group input-group-md">
                <input class="btn btn-default navbar-btn" type="submit" value="submit" />
            </div>

           <input type="submit" name="submit" value="Register" />
       </form>
    {% endif %}
    <br /><br />
    <a style="font-size:22px;" href="/accounts/login/">Already have an account?</a>
    <br /><br />

{% endblock %}

{% block buttons %}{% endblock %}
