{% extends 'base.html' %}
{% load bootstrap %}

{% block body_block %}

        <h1>Register to Sitename!</h1>

        {% if registered %}
            <strong> Thank you for registering!</strong>
        {% else %}

            <form id="user_form" method="post" action="{% url 'accounts:register' %}"
                    enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form|bootstrap }}
               <input type="submit" name="submit" value="Register" />

        {% endif %}
    <br /><br />
    <a href="{% url 'accounts:login' %}">Already have an account?</a>


{% endblock %}
